---
interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="mb-12">
    <h2 class="heading-medium mb-4">{title}</h2>
    {subtitle && <p class="text-secondary">{subtitle}</p>}
</div>
